/* best sell  */ 

.best-seller{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 45px 0 40px;
    margin-top: 5%;
}
.title h1{
     font-size: 30px;
     font-family: 'sofia_pro';
}
.title p{
    font-size: 17px;
    font-family: 'sofia_pro';
}
.title-link a{
    font-family: 'sofia_pro';
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;

}
.best-sell{
    display: flex;
    padding: 35px;
}

.best-sell-left img{
    width: 520px;
    height: 735px;
}
.best-sell-right{
    display: flex;
    justify-content: space-around;
    flex-direction:row;
    flex-wrap: wrap;
    padding-left: 45px;
    transition: all 2s ease-out;

}

.button-parent{
    position: relative;
}

.btn{
    position: absolute; 
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 23px;
    padding-right: 15px;
    background-color: palevioletred;
    text-align: center;
    display: none;
}
.best-sell-right img:hover + .btn{
    display: block;
    cursor: pointer;
}

.best-card:hover + .btn{
    display: block;
}
.best-card .active + .btn{
    display: block;
}
.btn a{
    text-decoration: none;
    border: none;
    color: white;
    text-align: center;
    font-family: 'sofia_pro';
    font-weight: 500;
    padding-top: 20px;
}

.best-sell-right img{
    width: 295px;
    height: 305px;
}
.card-footer img{
    width: 100px;
    height: 30px;
    padding: 0;
}
.card-footer{
    margin-bottom: 24px;
}
.card-footer h2{
    font-size: 20px;
    text-transform: uppercase;
}

@media screen and (max-width: 400px) {
    .best-sell{
        padding: 0;
    }
}

@media screen and (max-width: 576px) {
    .best-sell{
       display: flex;
       flex-wrap: wrap;
       overflow: hidden;
    }
    
}

@media screen and (max-width: 768px) {
    .best-sell{
       display: flex;
       flex-wrap: wrap;
       overflow: hidden;
    }
    .best-sell-right{
        padding: 0;
    }
    
}

@media screen and (max-width: 820px) {
    .best-sell{
       display: flex;
       flex-wrap: wrap;
       overflow: hidden;
    }
    .best-sell-right{
        padding: 0;
        padding-top: 20px;
    }
    
}